---
import { getRelativeLocaleUrl } from "astro:i18n";

// utils
import { slugify, categorify } from "@js/textUtils";
import { getLocaleFromUrl } from "@js/localeUtils";

interface Props {
  category: string;
  class?: string;
}

const { category, class: className } = Astro.props as Props;

const currLocale = getLocaleFromUrl(Astro.url);
---

<a
  href={getRelativeLocaleUrl(currLocale, `/categories/${slugify(category)}/`)}
  class={`main-text-gradient font-medium ${className}`}
>
  {categorify(category)}
</a>
