---
import { getRelativeLocaleUrl } from "astro:i18n";

// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

const currLocale = getLocaleFromUrl(Astro.url);
---

<BaseLayout
  title="About Unitarians in Thailand"
  description="About Unitarians in Thailand"
>
  <div class="container">
    <div class="mx-auto max-w-3xl pt-24 md:pt-36">
      <h1 class="h1 text-center">About Us</h1>
      <p class="description mt-2 text-center">The story of Unitarianism</p>
      <hr
        class="mx-auto mt-4 max-w-[30%] rounded-full border-none bg-primary-600/50 pt-1"
      />
      <div 
        class="mx-auto"
      >
        <h1 class="overview-heading">What is a Unitarian?</h1>
        <p>
          Unitarians are people who follow Unitarianism, a non-conforming religion that branches off from Christianity. Historically, Unitarians are Christians who believed in the Unity of God, a counter viewpoint from the Christian's belief in Trinity of God. Unitarianism has developed itself independently in many countries during the same period, facing the same oppression and opposition from the mainstream churches. Over time, Unitarianism developed itself into a stand-alone belief that encourages religious freedom and individual quest for truth. The Unitarians in the USA merged with Universalists to become Unitarian Universalist Association, the largest group of Unitarian communities.
        </p>
        <br/>
        <p>
          Apart from a few common beliefs, there are not really a list of things Unitarians must believe in or must do. Despite its Christian heritage, many Unitarians nowadays do not call themselves Christians at all; while some still do. There are also Unitarians of various other backgrounds, including Buddhists, Muslims, Jewish, Baha'i, Hindus, Humanist, Pagan, or even Atheists.
        </p>

        <h1 class="overview-heading">Unitarian's belief</h1>
        <p>
          Unitarianism encourages the individual quest for truth and religious freedom, equality and rational thought. We particularly value different beliefs and lifestyles, different cultures and ideas, and against any forms of discrimination including gender, age, race, religion, and sexual orientation. We value insights and teaching from all sources including the holy writings of any religions, scientific knowledge, arts, the natural world.
        </p>
        <br/>
        <p>
          Apart from a small set of common beliefs, there is really no solid description of Unitarian beliefs. In fact, we encourage each individual to foster their own personal belief through there own reasons and experience.
        </p>
        <br/>
        <p>
          <a
            class="overview-link"
            href="https://unitarian.org.uk/"
          >The General Assembly of Unitarians and Free Christian Churches
          </a>, the UK's main Unitarian body, gives the following characteristics of a Unitarian:
          <ul>
            <li class="pl-2">- base beliefs on rational enquiry rather than external authority;</li>
            <li class="pl-2">- accept beliefs can change in the light of new understanding and insight;</li>
            <li class="pl-2">- form principles from conscience, thinking and life experiences;</li>
            <li class="pl-2">- hold reverence for the earth and the whole natural system of which we are part.</li>
          </ul>
        </p>
        <br/>
        <p>
          <a 
            class="overview-link"
            href="https://www.uua.org/"
          >Unitarian Universalist Association</a> gives the following descriptions of being a Unitarian Universalist:
          <blockquote class="border-l-4 bg-gray-100 text-gray-600 border-gray-500 pl-4 py-2 my-2">
            In Unitarian Universalism, you can bring your whole self: your full identity, your questioning mind, your expansive heart.
          </blockquote>
        </p>
        <p>
          Unitarian Universalists believe more than one thing. We think for ourselves, and reflect together, about important questions:
          <ul>
            <li class="pl-2">- The existence of a Higher Power</li>
            <li class="pl-2">- Life and Death</li>
            <li class="pl-2">- Sacred Texts</li>
            <li class="pl-2">- Inspiration and Guidance</li>
            <li class="pl-2">- Prayer and Spiritual Practices</li>
          </ul>
        </p>

        <h1 class="overview-heading">Your personal faith</h1>
        <p>
          Unitarians often come from completely different backgrounds, each with their own set of beliefs and dogma. Unitarianism itself embraces a wide variety of beliefs. There is no creed that must be followed, no oath that must be sworn, no holy doctrine that must be believed in.
        </p>
        <br/>
        <p>
          We believe that each person has their right to find their own beliefs through their own reasons and experience. There is no higher authority to order each individual to conform, and the final authority of one's beliefs must come from one's own conscience.
        </p>
        <br/>
        <p>
          Our beliefs mean that one can have their own personal beliefs, which may or may not be agreed upon by others. It also means that one must respect that other people may have beliefs that are different from one's own.
        </p>

        <h1 class="overview-heading">Our common beliefs</h1>
        <p>
          "If everyone has a different belief, how can they unite together?" is one of the most commons questions regarding Unitarianism. Despite our mostly different beliefs, but there are some common beliefs that agreed upon by most Unitarians:
          <ul>
            <li class="pl-2">- that everyone has their right to follow their own beliefs;</li>
            <li class="pl-2">- that one's beliefs must not hinder or oppress others;</li>
            <li class="pl-2">- that everyone is equal;</li>
            <li class="pl-2">- that differences are worth embracing;</li>
            <li class="pl-2">- that reflections on spiritual questions are welcome.</li>
          </ul>
        </p>

        <h1 class="overview-heading">Community without creed</h1>
        <p>
          Unitarian communities are not held together by creeds or doctrines, but rather by our common goal of finding our own spiritual path. We gather to celebrate our difference. We discuss to stimulate more discussions. We follow all teaching and knowledge of all sources. We bring our beliefs into action.
        </p>
        <br/>
        <p>
          Don't be afraid if the first question you got asked when walk into a Unitarian community be "what is your beliefs?" Feel free to express yourself.
        </p>

        <h1 class="overview-heading">All are welcome</h1>
        <p>
          We welcome everyone who shares our views on tolerance and religious freedom. There is no restriction on your beliefs (unless it's against the law, which brings in the matter of beliefs vs actions into discussions). You can be a Unitarian regardless of your religious background, race, gender, age, sexual orientation. There is no requirement to relinquish your previous religion; many Unitarians are actively participating in activities of more than one religions.
        </p>
        <br/>
        <p>
          Unfortunately, unlike communities in other countries, Unitarians in Thailand is in a very early stage with only a small group of like-minded members. There is currently no regular service held and meeting are scheduled only at irregular intervals. But we genuinely believe that our freedom approach to religion will grow strong.
        </p>
        <br/>
        <p>
          Please join our mailing list to stay in touch with our events and activities, and follow us on <a class="overview-link" href="https://x.com/thaiunitarians">X(Twitter)</a>. We would love to hear from everyone. Feel free to contact us even if you just want to ask a question.
        </p>
        <br/>
        <!-- <p>
          If you would like to become a part of our community, please visit Get Involved.
        </p> -->
      </div>
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .overview-heading {
    @apply mb-2 mt-6 text-lg font-semibold;
  }
  .overview-link {
    // @apply text-primary-600 hover:text-primary-700 hover:underline;
    @apply transition hover:text-primary-600;
  }
</style>
