---
import { getRelativeLocaleUrl } from "astro:i18n";

// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

const currLocale = getLocaleFromUrl(Astro.url);
---

<BaseLayout
  title="Recent Blog Posts"
  description="Recent Blog Posts Description"
>
  <div class="container">
    <div class="mx-auto max-w-3xl pt-24 md:pt-36">
      <h1 class="h1 text-center">Overview</h1>
      <p class="description mt-2 text-center">The various pages of Blogsmith</p>
      <hr
        class="mx-auto mt-4 max-w-[30%] rounded-full border-none bg-primary-600/50 pt-1"
      />
      <div
        class="mx-auto mt-10 grid gap-4 text-center xs:grid-cols-2 md:grid-cols-3"
      >
        <!-- Blog pages -->
        <div class="flex flex-col">
          <h3 class="overview-heading">Blog</h3>
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/blog")}>Blog Index</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/examples/blog1")}>Blog 1</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/examples/blog2")}>Blog 2</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/examples/blog3")}>Blog 3</a
          >
        </div>

        <!-- Hero sections -->
        <div class="flex flex-col">
          <h3 class="overview-heading">Hero Sections</h3>
          <a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/")}
            >Hero 1</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/examples/hero2")}>Hero 2</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/examples/hero3")}>Hero 3</a
          >
        </div>

        <!-- Blog Post Cards -->
        <div class="flex flex-col">
          <h3 class="overview-heading">Blog Post Cards</h3>
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/examples/postcard1")}
            >Post Card 1</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/examples/postcard2")}
            >Post Card 2</a
          >
        </div>

        <!-- Other -->
        <div class="flex flex-col">
          <h3 class="overview-heading">Other Pages</h3>
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/contact")}>Contact</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/categories")}>Categories</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/tags")}>Tags</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/privacy-policy")}
            >Privacy Policy</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/not-a-link")}>404</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/rss.xml")}
            target="_blank"
            rel="noopener noreferrer">RSS Feed</a
          >
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .overview-heading {
    @apply mb-2 mt-6 text-lg font-semibold;
  }
  .overview-link {
    // @apply text-primary-600 hover:text-primary-700 hover:underline;
    @apply transition hover:text-primary-600;
  }
</style>
