---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

// data
const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);

// images
import logo from "@images/site-logo.png";
---

<a
  class="primary-focus flex items-center align-middle"
  href={getRelativeLocaleUrl(currLocale)}
  aria-label="Home"
  class=""
>
  <Image
    src={logo}
    alt="Cosmic Themes logo"
    loading="eager"
    width={100}
    height={100}
    class="h-14 w-14"
  />
  <div class="text-1xl font-bold">{siteData.name}</div>
</a>
