---
import { getRelativeLocaleUrl } from "astro:i18n";

// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

const currLocale = getLocaleFromUrl(Astro.url);
---

<BaseLayout
  title="Recent Blog Posts"
  description="Recent Blog Posts Description"
>
  <div class="container">
    <div class="mx-auto max-w-3xl pt-24 md:pt-36">
      <h1 class="h1 text-center">เกี่ยวกับเรา</h1>
      <p class="description mt-2 text-center">ว่าด้วยเรื่องราวเกี่ยวกับยูนิทาเรี่ยน</p>
      <hr
        class="mx-auto mt-4 max-w-[30%] rounded-full border-none bg-primary-600/50 pt-1"
      />
      <div 
        class="mx-auto"
      >
        <h1 class="overview-heading">ยูนิทาเรี่ยนคืออะไร?</h1>
        <p>
          ชาวยูนิทาเรี่ยนเป็นกลุ่มคนผู้นับถือความเชื่อแบบยูนิทาเรี่ยนอันเป็นหลักศาสนาแบบไม่มีข้อผูกพันที่พัฒนามาจากคริสต์ศาสนา ในยุคเริ่มแรกนั้น ยูนิทาเรี่ยนคือชาวคริสต์ผู้ซึ่งเชื่อว่าพระผู้เป็นเจ้ามีเพียงหนึ่งเดียว(unity) โดยไม่มีการแบ่งแยกซึ่งตรงกันข้ามกับความเชื่อในเรื่องตรีเอกานุภาพ (trinity) ของพระเจ้า (อันได้แก่พระบิดา พระบุตร และพระวิญญาณบริสุทธิ์) อันเป็นความเชื่อหลักของศริสต์ศาสนา ยูนิทาเรี่ยนนั้นเติบโตขึ้นมาอย่างอิสระในหลายหลายประเทศพร้อมกันในช่วงระยะเวลาเดียวกัน ภายใต้การต่อต้านอย่างหนักของคริสต์จักรกระแสหลักในแต่ละประเทศ เมื่อเวลาผ่านไป ยูนิทาเรี่ยนได้เติบโตขึ้นมาเป็นความเชื่อเอกเทศที่ส่งเสริมเสรีภาพทางศาสนาและการค้นหาสัจธรรมส่วนบุคคล กลุ่มยูนิทาเรี่ยนในประเทศสหรัฐอเมริกาได้รวมตัวกับกลุ่มยูนิเวอร์แซลลิสต์กลายมาเป็นสมาพันธ์ยูนิทาเรี่ยนและยูนิเวอร์แซลลิสต์ กลุ่มผู้นับถือยูนิทาเรี่ยนที่ใหญ่ที่สุดในโลก
        </p>
        <br/>
        <p>
          นอกจากความเชื่อร่วมเพียงไม่กี่อย่างแล้วนั้น ยูนิทาเรี่ยนไม่มีรายการของความเชื่อที่ต้องเชื่อหรือข้อห้ามข้อปฏิบัติที่ต้องกระทำตาม แม้ว่ายูนิทาเรี่ยนจะมีต้นกำเนิดมาจากคริสต์ศาสนาแต่ทว่ายูนิทาเรี่ยนจำนวนมากก็ไม่ได้เรียกตัวเองว่าเป็นชาวคริสต์แต่อย่างใด แต่ก็มีผู้ที่นับตัวเองว่าเป็นคริสต์ศาสนิกชนอยู่เช่นกัน นอกจากนั้นแล้วยังมียูนิทาเรี่ยนจากพื้นฐานศาสนาอื่นๆอีกจำนวนมาก เช่นศาสนาพุทธ, อิสลาม, ยิว, บาไฮ, ฮินดู, มนุษยนิยม, พาแกน(นับถือเทพเจ้า) และแม้แต่ผู้ไม่เชื่อในพระเจ้า
        </p>

        <h1 class="overview-heading">เกี่ยวกับชื่อยูนิทาเรี่ยน</h1>
        <p>
          ยูนิทาเรี่ยน (Unitarian) เป็นนามเฉพาะของบุคคลผู้เชื่อในความเป็นเอกภาพของพระเจ้า (unity of god) ซึ่งยังไม่มีนามเฉพาะเป็นภาษาไทย หากยึดตามรากศัพท์ดั้งเดิมและธรรมเนียมแล้ว เอกภนิกชน อาจจะเป็นนามเฉพาะที่ใกล้เคียงความหมายเดิมที่สุด อย่างไรก็ตาม เพื่อสร้างความเข้าใจที่ตรงกับกันชาวยูนิทาเรี่ยนในระดับนานาชาติ ณ ขณะนี้เราจึงเชื่อว่าการใช้ชื่อทับศัพท์จากภาษาอังกฤษจะเป็นที่เข้าใจได้ง่ายและตรงตัวกว่า
        </p>

        <h1 class="overview-heading">ความเชื่อของยูนิทาเรี่ยน</h1>
        <p>
          ยูนิทาเรี่ยนนั้นสนับสนุนการค้นหนสัจธรรมส่วนบุคคล, เสรีภาพทางศาสนา, ความเท่าเทียม, และความมีเหตุมีผล พวกเรานั้นให้ความคุณค่าเป็นพิเศษกับความเชื่อและไลฟ์สไตล์ที่แตกต่าง, สังคมและแง่คิดที่ต่างกัน ฯลฯ รวมถึงต่อต้านการแบ่งแยกเลือกปฏิบัติทุกชนิดรวมถึงเหตุผลด้านเพศ, เพศวิถี, อายุ, ศาสนา, และเชื้อชาติ พวกเราเห็นคุณค่าในองค์ความรู้ทั้งมวลและคำสอนจากทุกแหล่งที่มาอาทิเช่นคัมภีร์ของแต่ละศาสนา, ความรู้ทางวิทยาศาสตร์, ศิลปะ, รวมถึงธรรมชาติ
        </p>
        <br/>
        <p>
          นอกจากความเชื่อร่วมเพียงไม่กี่ข้อแล้ว เป็นการยากที่จะบอกได้ว่าความเชื่อของยูนิทาเรี่ยนมีอะไรบ้างโดยละเอียด แท้จริงแล้วพวกเราสนับสนุนให้แต่ละคนค้นหาและพัฒนาความเชื่อของแต่ละบุคคลเองโดยใช้เหตุผลและประสพการณ์ส่วนตัวเป็นรากฐาน
        </p>
        <br/>
        <p>
          คณะมนตรีสามัญแห่งยูนิทาเรียนและคริสต์ศาสนาเสรี
          <a
            class="overview-link"
            href="https://unitarian.org.uk/"
          >The General Assembly of Unitarians and Free Christian Churches
          </a> อันเป็นกลุ่มองค์กรกลางของชาวยูนิทาเรี่ยนในสหราชอาณาจักรได้เขียนถึงลักษณะร่วมของชาวยูนิทาเรียนไว้ดังนี้
          <ul>
            <li class="pl-2">- ความเชื่อมีรากฐานมาจากการวิเคราะห์ด้วยเหตุผลมากกว่าอำนาจจากภายนอก</li>
            <li class="pl-2">- ยอมรับว่าความเชื่อสามารถเปลี่ยนแปลงได้เมื่อมีข้อมูล, หลักฐาน, หรือองค์ความรู้ใหม่ๆ</li>
            <li class="pl-2">- สร้างหลักการของตนขึ้นมาจากจิตสำนึก เหตุผล และประสพการณ์ขีวิต</li>
            <li class="pl-2">- เคารพนับถือโลกและธรรมชาติที่พวกเราล้วนแต่เป็นส่วนหนึ่ง</li>
          </ul>
        </p>
        <br/>
        <p>
          สหพันธ์ยูนิทาเรี่ยนยูนิเวอร์แซลลิสต์
          <a 
            class="overview-link"
            href="https://www.uua.org/"
          >Unitarian Universalist Association</a> ได้ให้คำบรรยายดังต่อไปนี้ไว้เกี่ยวกับชาวยูนิทาเรี่ยน:
          <blockquote class="border-l-4 bg-gray-100 text-gray-600 border-gray-500 pl-4 py-2 my-2">
            ในการนับถือยูนิทาเรียนยูนิเวอร์แซลลิสต์ คุณสามารถนำความเป็นตัวคุณมาได้เต็มที่ ทั้งตัวตนของคุณ ความใคร่รู้ของคุณ ความใจกว้างของคุณ
          </blockquote>
        </p>
        <p>
          ยูนิทาเรียนยูนิเวอร์แซลลิสต์เชื่อมากกว่าหนึ่งสิ่ง เราคิดด้วยตัวเราเองและพิจารณาร่วมกันเกี่ยวกับคำถามสำคัญเช่น
          <ul>
            <li class="pl-2">- การมีอยู่ของอำนาจเบื้องบน</li>
            <li class="pl-2">- ชีวิตและความตาย</li>
            <li class="pl-2">- คัมภีร์และคำสอน</li>
            <li class="pl-2">- แรงบรรดาลใจและการชี้นำ</li>
            <li class="pl-2">- กิจกรรมทางศาสนา</li>
          </ul>
        </p>

        <h1 class="overview-heading">ความเชื่อส่วนตัวของคุณเอง</h1>
        <p>
          ชาวยูนิทาเรี่ยนนั้นมักจะมาจากพื้นฐานศาสนาที่แตกต่างกันไปขึ้นกับการเติบโตและที่มาของแต่ละบุคคล โดยแต่ละศาสนานั้นล้วนมีชุดคำสอนและความเชื่อของตนเอง ยูนิทาเรี่ยนนั้นยอมรับความเชื่ออันหลากหลาย ยูนิทาเรี่ยนนั้นไม่มีวินัยและข้อห้ามที่ต้องปฏิบัติ ไม่มีคำปฏิญาณที่ต้องมอบ ไม่มีคำประกาสิทธิที่ต้องเชื่อ
        </p>
        <br/>
        <p>
          เราเชื่อว่าแต่ละคนล้วนมีสิทธิที่จะค้นหาความเชื่อของตนเองโดยใช้เหตุผลและประสบการณ์ของตนเอง ยูนิทาเรี่ยนไม่มีผู้นำที่คอยกำหนดว่าอะไรที่สิ่งที่ทุกคนต้องทำตาม และเชื่อว่าสิ่งที่จะกำหนดความเชื่อของแต่ละคนนั้นคือจิตสำนึกของแต่ละคนเอง
        </p>
        <br/>
        <p>
          ความเชื่อของเรานั้นแปลว่าแต่ละคนสามารถที่จะมีความเชื่อส่วนบุคคลได้เต็มที่ ซึ่งอาจจะเป็นที่เข้าใจและยอมรับจากผู้อื่นหรือไม่ก็ได้ รวมถึงแปลว่าแต่ละคนต้องเคารพว่าคนอื่นนั้นอาจมีความเชื่อที่ไม่ตรงกับเราก็ได้
        </p>

        <h1 class="overview-heading">ความเชื่อร่วมของพวกเรา</h1>
        <p>
          หนึ่งในคำถามที่มักได้ยินบ่อยที่สุดเกี่ยวกับยูนิทาเรี่ยนคือ "ถ้าทุกคนเชื่อต่างกันแล้ว จะอยู่รวมกันได้ยังไง/ทำไม?" ถึงแม้ว่าชาวยูนิทาเรี่ยนจะเชื่ออะไรที่แตกต่างกัน แต่พวกเราก็มีความเชื่อร่วมที่เกือบทุกคนเห็นตรงกันเช่น
          <ul>
            <li class="pl-2">- ความเชื่อเป็นสิทธิส่วนบุคคล</li>
            <li class="pl-2">- ความเชื่อของตนนั้นต้องไม่กดขี่หรือปิดกันความเชื่อของคนอื่น</li>
            <li class="pl-2">- ทุกคนนั้นเท่าเทียมกัน</li>
            <li class="pl-2">- ความแตกต่างนั้นเป็นสิ่งที่ควรสนับสนุน</li>
            <li class="pl-2">- ต้อนรับการพินิจพิจารณาเกี่ยวกับคำถามด้านศาสนา</li>
          </ul>
        </p>

        <h1 class="overview-heading">กลุ่มศาสนาที่ไม่มีข้อห้าม</h1>
        <p>
          กลุ่มศาสนาของชาวยูนิทาเรี่ยนนั้นไม่ได้รวมอยู่ด้วยกันโดยกฏวินัยข้อห้ามหรือคำสอน พวกเรารวมเข้าด้วยกันโดยเป้าหมายร่วมที่จะค้นหาหนทางด้านความเชื่อของตนเอง พวกเรารวมตัวกันเพื่อเฉลิมฉลองความแตกต่างกัน พวกเราไม่ได้อภิปรายเพื่อหาคำตอบแต่เพื่อกระตุ้นหัวข้ออภิปรายให้มากยิ่งขึ้น พวกเราทำตามคำสอนและความรู้โดยไม่จำกัดแหล่งที่มา พวกเรานำเอาความเชื่อมาปฏิบัติจริง
        </p>
        <br/>
        <p>
          อย่ากังวลไปหากคำถามแรกที่คุณเจอเมื่อเดินเข้ามาในกลุ่มของชาวยูนิทาเรี่ยนคือ "อะไรคือความเชื่อของคุณ" พูดสิ่งที่คุณเชื่อออกมาได้เลย คำถามนี้เหมือนเป็นแค่คำสวัสดีของพวกเรา
        </p>

        <h1 class="overview-heading">ยินดีต้อนรับทุกคน</h1>
        <p>
          พวกเรายินดีต้อนรับทุกคนที่มึมุมมองเช่นเราเกี่ยวกับการยอมรับความแตกต่างและเสรีภาพทางศาสนา เราไม่มีข้อห้ามว่าอะไรที่คุณไม่ควรเชื่อ (เว้นเสียแต่ว่าความเชื่อนั้นนำไปสู่การกระทำที่ผิดกฏหมาย ซึ่งนั่นจะนำไปสู่การอภิปรายเรื่องความแตกต่างระหว่างความเชื่อกับการกระทำ) คุณสามารถเป็นยูนิทาเรียนได้ไม่ว่าคุณจะกำลังนับถือศาสนาไหน เชื้อชาติใด เพศใด อายุเท่าไร หรือมีเพศวิถีเป็นอย่างไร เราไม่มีแม้แต่ข้อจำกัดว่าคุณต้องสละศาสนาเดิมของคุณด้วยซ้ำ ชาวยูนิทาเรี่ยนจำนวนมากยังคงทำกิจกรรมและคงไว้ซึ่งความเชื่อมากกว่าหนึ่งศาสนาในเวลาเดียวกัน
        </p>
        <br/>
        <p>
          อย่างไรก็ตาม ขณะนี้กลุ่มยูนิทาเรี่ยนในประเทศไทยยังคงอยู่ในระยะเริ่มแรกโดยมีสมาชิกเป็นจำนวนน้อยมากเมื่อเทียบกับในประเทศอื่นๆ ณ ขณะนี้พวกเรายังไม่มีการทำพิธีประจำสัปดาห์และมีเพียงการนัดพบปะกันเป็นระยะเท่านั้น แต่พวกเราเชื่อว่ามุมมองด้านศาสนาเสรีของพวกเราจะเติบโตได้ในประเทศไทยเป็นอย่างดี
        </p>
        <br/>
        <p>
          ขอเชิญท่านผู้สนใจลงทะเบียนติดตามพวกเราได้ใน mailing list และกดติดตามพวกเราได้ใน <a class="overview-link" href="https://x.com/thaiunitarians">X(Twitter)</a> ขอเชิญติดต่อพวกเราได้ทันทีแม้ว่าคุณอยากจะถามเพียงแค่คำถามเดียวก็ตาม
        </p>
        <br/>
        <!-- <p>
          หากท่านสนใจจะเข้าร่วมเป็นส่วนหนึ่งของพวกเรา เชิญดูใน การมีส่วนร่วม
        </p> -->
      </div>

    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .overview-heading {
    @apply mb-2 mt-6 text-lg font-semibold;
  }
  .overview-link {
    // @apply text-primary-600 hover:text-primary-700 hover:underline;
    @apply transition hover:text-primary-600;
  }
</style>
