---
import { getRelativeLocaleUrl } from "astro:i18n";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

// data
import { type navLinkItem } from "@config/types/configDataTypes";

interface Props {
  navItem: navLinkItem;
  class?: string;
}

const { navItem, class: className } = Astro.props as Props;
const { text, link, newTab = false } = navItem;

const currLocale = getLocaleFromUrl(Astro.url);

const domain = import.meta.env.SITE; // pulls from astro.config.mjs
let actualLink: string;
if (!link.includes(domain) && !link.startsWith("/") && !link.startsWith("#")) {
  // it is an external link
  actualLink = link;
} else {
  // internal link, so we need to add the locale to the link
  actualLink = getRelativeLocaleUrl(currLocale, link);
}
---

<li>
  <a
    class:list={[
      `primary-focus relative block w-full px-4 py-2 font-medium transition hover:text-primary-700 ${className}`,
      {
        // styling for current active page link
        "text-base-600": Astro.url.pathname === link,
      },
    ]}
    href={actualLink}
    target={newTab ? "_blank" : ""}
    rel={newTab ? "noopener noreferrer" : ""}
    aria-label={text}
  >
    {text}
  </a>
</li>
